<div id="player_wrapper">
	

		<% unless @frontpage_audio_url.nil?%>
			<%= render 'tracks/player', :audio_url => @frontpage_audio_url %>
		<% end %>
		
<div id="tracks_wrapper">
	<%= render @tracks unless @tracks.nil? %>
</div>

</div>