<script type="text/javascript">
var currentTrack = 'Grandfather'
$(function(){

  $("#jquery_jplayer_1").bind($.jPlayer.event.ended + '.playNext', function(){
    var filename = getNextSong();
    //playSong(filename);  
  });
 
  $(".play_action").bind('click', function(e){
           
      var filename = $(this).attr("mp3");
      //playSong(filename);
  });	

  togglePupilBright()

});

function togglePupilBright()
{
    $(".pupil").toggleClass("pupil_bright")
    setTimeout(
      "togglePupilBright()", 2500
    );
}

function getNextSong()
{
  if(currentTrack.indexOf('Grandfather') >= 0)
    return 'https://s3.amazonaws.com/chriserin_paperclip_test/audio/aug17/Geronimo!+-+Table+Legs.mp3';
  else if(currentTrack.indexOf('Geronimo') >= 0)
    return 'http://s3.amazonaws.com/chriserin_paperclip_test/predators/audio/04may11/PredatorsAPR14_A.mp3';
  else
    return 'https://s3.amazonaws.com/chriserin_paperclip_test/audio/aug17/Grandfather+-+Why+I%27d+Try+-+01+You%27re+Strange.mp3';
}


function playSong(filename)
{

    var extension_array = filename.split(/\./);
    var extension = extension_array[extension_array.length -1];
    currentTrack = filename;
    
    if(extension == 'mp3')
    {
            $("#jquery_jplayer_1").jPlayer("setMedia", { mp3: filename });		
            $("#jquery_jplayer_1").jPlayer("supplied", extension);
    }
    else if (extension == 'm4a')
    {
            $("#jquery_jplayer_1").jPlayer("setMedia", { m4a: filename });		
            $("#jquery_jplayer_1").jPlayer("supplied", extension);		
    }
    else if (extension == 'ogg')
    {
            $("#jquery_jplayer_1").jPlayer("setMedia", { ogg: filename });		
            $("#jquery_jplayer_1").jPlayer("supplied", extension);		
    }

    $("#jquery_jplayer_1").jPlayer("play");
}



</script>
<style>

  a{color: white; text-decoration: none;}
  a:hover{color: white; text-decoration: none;}
  a:visited{color: white; text-decoration: none;}

  #poster
  {
    background-color: black;
    position: relative;
    margin: 0 auto;
    height: 900px;
    width: 900px;
  }

  body{
    background-color: black;
    text-align: center;
  }

  .eye
  {
    height: 180px;
    width: 100px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    margin-top: 100px;
    position: relative;
    background-color: black;
  }

  #left_eye
  {
    float: left;
    margin-left: 28%;
  }

  #right_eye
  {
    float: right;
    margin-right: 28%;
  }

  #teeth
  {
    width: 100%;
    height: 300px;
    float: left;
    margin: 0 auto;
    margin-top: 380px;
    position: relative;
    margin-top: 25px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .fang
  {
    height: 0px;
    width: 0px;
    border-width: 0px 20px 180px 20px;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }

  .incisor
  {
    height: 0px;
    width: 0px;
    border-width: 0px 10px 80px 10px;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }

  .top_incisor
  {
    border-top-width: 140px;
    border-bottom-width: 0px;
    border-top-color: white;
    border-bottom-color: transparent;
    margin-top: -10px;
    z-index: 0;
    position: relative;
  }

  #top_teeth
  {
    position: relative;
    margin: 0 auto;
    height: 180px;
    width: 84px;
  }

  .right_tooth
  {
    float: right;
    margin-right: 26%;
  }

  .left_tooth
  {
    float: left;
    margin-left: 26%;
  }

  .tooth
  {

  }

  .gum
  {
    height: 120px;
    width: 40px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    
    background-color: #d690c0;
    margin-left: 0px;
    margin-top: -20px;
  }

  .small_tooth
  {
    float: left;
    margin: 0 10px;
    margin-top: 140px;
  }

  .small_tooth:nth-child(5), .small_tooth:nth-child(6)
  {
    margin-top: 200px;
  }

  .small_tooth:nth-child(4), .small_tooth:nth-child(7)
  {
    margin-top: 180px;
  }

  .small_tooth:nth-child(3), .small_tooth:nth-child(8)
  {
    margin-top: 160px;
  }

  .small_tooth:nth-child(2)
  {
    margin-left: 20px;
  }

  .small_tooth:nth-child(2), .small_tooth:nth-child(9)
  {
    margin-top: 100px;
  }

  .small_tooth:nth-child(2) .incisor, .small_tooth:nth-child(9) .incisor
  {
     border-bottom-width: 120px;
  }

  .small_gum
  {
    height: 60px;
    width: 24px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    
    background-color: #d690c0;
    margin-left: -2px;
    margin-top: -6px;
    z-index: 5;
    position: relative;
  }

  .top_gum
  {
    height: 60px;
    width: 26px;
    margin-top: -21px;
    margin-left: -3px;
    background-color: #a65080;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    z-index: 5;
    position: relative;
  }

  .top_tooth
  {
    margin-top: 400px;
    position: absolute;
    float: left;
  }

  .top_tooth:nth-child(2)
  {
  }

  .top_tooth:nth-child(1)
  {
    left: 66px;
  }

  .pupil
  {
    height: 40px;
    width: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;

    position: absolute;
    overflow: visible;
    background-color: red;
    box-shadow: 0 0 10px 10px red;
    z-index: 25;
    top: 100px;
    left: 30px;

    -webkit-transition: all 8000ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition: all 10000ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -ms-transition: all 10000ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -o-transition: all 10000ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    transition: all 10000ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -ms-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    opacity: 0;
  }

  .pupil_bright
  {
    opacity: 1;
  }

  .bomb
  {
    background-color: grey;
    opacity: .6;
  }  

  .bomb_ball
  {
    width: 100px;
    height: 120px;
    border-radius: 100px;
    position: absolute;
    top: 60px;  
  }

  .bomb_stem
  {
    height: 110px;
    width: 40px;
    position:absolute;
    left: 30px;
  }

  .stem_left
  {

    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 24px;
  }

  .stem_right
  {

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 32px;
  }

  .bomb_tail
  {
    height: 0px;
    width: 0px;
    border-width: 40px 50px 0px 50px;
    border-color: grey transparent transparent  transparent;
    border-style: solid;
    position: absolute;
    background-color: transparent;
  }

  #show_text
  {
    font-family: 'Nova Square', cursive;
    font-size: 30px;
    margin-top: -22px;
    color: white;
  }

  .text_part
  {
    cursor: pointer;
  }

  

</style>
<div id="poster">
<div id="eyes">
  <div id="left_eye" class="eye">
    <div class="pupil"></div>
    <div class="bomb_ball bomb"></div>
    <div class="bomb_stem bomb stem_left"></div>
    <div class="bomb_tail bomb"></div>
  </div>
  <div id="right_eye" class="eye">
    <div class="pupil"></div>
    <div class="bomb_ball bomb"></div>
    <div class="bomb_stem bomb stem_right"></div>
    <div class="bomb_tail bomb"></div>
</div></div>
<div id="top_teeth">
  <div class="top_tooth"><div class="top_gum"></div><div id="" class="incisor top_incisor"></div></div>
  <div class="top_tooth"><div class="top_gum"></div><div id="" class="incisor top_incisor"></div></div>
</div>
<div id="teeth">
  <div class="left_tooth"><div id="left_fang" class="fang"></div><div class="gum"></div></div>
  <div class="small_tooth"><div id="right_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="small_tooth"><div id="left_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="small_tooth"><div id="left_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="small_tooth"><div id="left_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="small_tooth"><div id="left_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="small_tooth"><div id="left_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="small_tooth"><div id="left_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="small_tooth"><div id="left_incisor" class="incisor"></div><div class="small_gum"></div></div>
  <div class="right_tooth"><div id="right_fang" class="fang"></div><div class="gum"></div></div>
</div>
<div id="show_text">
<div class="text_part play_action" mp3="https://s3.amazonaws.com/chriserin_paperclip_test/audio/aug17/Grandfather+-+Why+I%27d+Try+-+01+You%27re+Strange.mp3"><a href="http://grandfathermusic.com/site/">Grandfather</a></div>
<div class="text_part play_action" mp3="https://s3.amazonaws.com/chriserin_paperclip_test/audio/aug17/Geronimo!+-+Table+Legs.mp3"><a href="http://www.myspace.com/thegeronimoband">Geronimo</a></div>
<div class="text_part play_action" mp3="http://s3.amazonaws.com/chriserin_paperclip_test/predators/audio/04may11/PredatorsAPR14_A.mp3"><a href="http://www.predators1234.com/">Predators</a></div>
<div>&nbsp;</div>
<div><a href="http://subt.net">SUBTERRANEAN</a></div>
<div>AUG17 8PM</div>
</div>
  <%= render 'tracks/player', :audio_url => '' %>
</div>
