<html>
  <head>
    <%= stylesheet_link_tag 'predators', :media => 'screen' %>
    <%= stylesheet_link_tag 'curtis_css', :media => 'screen' %>	
    <style>
      .marcus .standard .css_char .split_horiz_pos {
        border-color: transparent black;
      }

      .marcus .m {
        background-color: #109452;
      }

      .marcus .standard .css_char .split_horiz_neg {
        border-color: #FFEF08;
      }

      .marcus .standard .css_char .split_horiz {
        border-color: #109452 transparent;
      }

      .marcus .standard .css_char .split_vert {
        border-color: rgba(222, 16, 24, 1) transparent;
      }

      .marcus .a {
        background-color: #FFEF08;
      }

      .marcus .r {
        background-color: #FFEF08;
      }

      .marcus .c {
        background-color: #109452;
      }

      .marcus .standard .css_char .neg {
        background: #109452;
      }

      .marcus .u {
        margin-left: -10px;
        background-color: rgba(222, 16, 24, 1);
      }

      .marcus .s {
        background-color: #FFEF08;
        margin-left: -10px;
      }

      .vindits .standard .css_char .split_horiz_neg {
        border-color: #A3DCAB #B4EDBC;
      }

      .vindits .size140 .css_char.d {
        margin-right: 10px;
      }

      .vindits .s {
        margin-left: 20px;
      }


      .predators .o {
        background-color: transparent;
      }

      .standard .css_char .stroke {
        border-color: black;
      }

      #details {
        margin-left: 45%;
        margin-top: -46%;
      }

      #container {
        width: 100%;
      }

      #poster_art {
        margin: 10px 15%;
        width: 900px;
        position: relative;
      }

      #coentrentric-circles {
        width: 900px;
        height: 900px;
      }

      img {
        display: inline;
        margin-top: 0px;
        position: absolute;
        top: 0px;
        left: 100px;
      }

      .circle {
        border-top: 1px transparent solid;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        border-radius: 500px;
        margin: 19px 20px;
        opacity: .8;
        display: block;
      }

      .a {
        width: 40px;
        height: 40px;
        background-color: #C8C800;
      }

      .b {
        width: 80px;
        height: 80px;
        background-color: #B5FFFC;
      }

      .c {
        width: 120px;
        height: 120px;
        background-color: #BBEBFF;
      }

      .d {
        width: 160px;
        height: 160px;
        background-color: #CEDEF4;
      }

      .e {
        width: 200px;
        height: 200px;
        background-color: #CEA8F4;
      }

      .f {
        width: 240px;
        height: 240px;
        background-color: #FF86E3;
      }

      .g {
        width: 280px;
        height: 280px;
        background-color: #8CEFFD;
      }

      .h {
        width: 320px;
        height: 320px;
        background-color: #FF86E3;
      }

      .i {
        width: 360px;
        height: 360px;
        background-color: #95FF4F;
      }

      .j {
        width: 400px;
        height: 400px;
        background-color: #FF86E3;
      }

      .k {
        width: 440px;
        height: 440px;
        background-color: black;
      }

      .l {
        width: 480px;
        height: 480px;
        background-color: #57BCD9;
      }

      .m {
        width: 520px;
        height: 520px;
        background-color: #7CEB98;
      }

      .n {
        width: 560px;
        height: 560px;
        background-color: #C79BF2;
      }

      .o {
        width: 600px;
        height: 600px;
        background-color: #BDF4CB;
      }

      .p {
        width: 640px;
        height: 640px;
        background-color: #99C7FF;
      }

      .q {
        width: 680px;
        height: 680px;
        background-color: #ACF3FD;
      }

      .r {
        width: 720px;
        height: 720px;
        background-color: #FFFF99;
      }

      .s {
        width: 760px;
        height: 760px;
        background-color: #FFBBBB;
      }

      .t {
        width: 800px;
        height: 800px;
        background-color: #44B4D5;
      }

    </style>
  </head>
  <body>
    <div id="container">
      <div id="poster_art">
        <div id="coentrentric-circles">
          <div class="circle t">
            <div class="circle s">
              <div class="circle r">
                <div class="circle q">
                  <div class="circle p">
                    <div class="circle o">
                      <div class="circle n">
                        <div class="circle m">
                          <div class="circle l">
                            <div class="circle k">
                              <div class="circle j">
                                <div class="circle i">
                                  <div class="circle h">
                                    <div class="circle g">
                                      <div class="circle f">
                                        <div class="circle e">
                                          <div class="circle d">
                                            <div class="circle c">
                                              <div class="circle b">
                                                <div class="circle a">
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="/images/sabertooth-transparent.png">
      </div>
      <div id="details">
        <div class="predators">
          <div id="title" class="curtis tk_proxima_nova size140 standard">
            <span class="css_char p">
              P
              <span class="stroke"></span>
              <span class="fill"></span>
            </span>
            <span class="css_char r">
              R
              <span class="inside split_vert"></span>
              <span class="outside split_vert"></span>
              <span class="stroke"></span>
              <span class="fill"></span>
            </span>
            <span class="css_char e">
              E
              <span class="stroke"></span>
              <span class="fill"></span>
            </span>		
            <span class="css_char d">
              D
              <span class="stroke"></span>
            </span>
            <span class="css_char a">
              A
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
              <span class="bar fill"></span>
            </span>
            <span class="css_char t">
              T
              <span class="stem fill"></span>
              <span class="cross fill"></span>
            </span>		
            <span class="css_char o">
              O
              <span class="stroke"></span>
            </span>		
            <span class="css_char r">
              R
              <span class="inside split_vert"></span>
              <span class="outside split_vert"></span>
              <span class="stroke"></span>
              <span class="fill"></span>
            </span>		
            <span class="css_char s">
              S
              <span class="bottom_circle stroke"></span>
              <span class="left neg"></span>
              <span class="top_circle stroke"></span>
              <span class="right neg">
                <span class="stroke"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="vindits">
          <div id="title" class="curtis tk_proxima_nova size140 standard">
            <span class="css_char v">
              V
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
            </span>
            <span class="css_char i">
              I
              <span class="fill"></span>
            </span>
            <span class="css_char n">
              N
              <span class="fill"></span>
              <span class="top_corner split_horiz_neg"></span>
              <span class="bottom_corner split_horiz_neg"></span>
            </span>
            <span class="css_char d">
              D
              <span class="stroke"></span>
            </span>
            <span class="css_char i">
              I
              <span class="fill"></span>
            </span>
            <span class="css_char t">
              T
              <span class="stem fill"></span>
              <span class="cross fill"></span>
            </span>
            <span class="css_char s">
              S
              <span class="bottom_circle stroke"></span>
              <span class="left neg"></span>
              <span class="top_circle stroke"></span>
              <span class="right neg">
                <span class="stroke"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="marcus">
          <div id="title" class="curtis tk_proxima_nova size140 standard">
            <span class="css_char m">
              M
              <span class="split_horiz_pos"></span>
              <span class="split_horiz_neg"></span>
            </span>
            <span class="css_char a">
              A
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
              <span class="bar fill"></span>
            </span>
            <span class="css_char r">
              R
              <span class="inside split_vert"></span>
              <span class="outside split_vert"></span>
              <span class="stroke"></span>
              <span class="fill"></span>
            </span>
            <span class="css_char c">
              C
              <span class="stroke"></span>
              <span class="neg"></span>
            </span>
            <span class="css_char u">
              U
              <span class="stroke"></span>
            </span>
            <span class="css_char s">
              S
              <span class="bottom_circle stroke"></span>
              <span class="left neg"></span>
              <span class="top_circle stroke"></span>
              <span class="right neg">
                <span class="stroke"></span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
