<html>
<head>
    <title>Predators Nov 10th @ Coles</title>
    <link href='http://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'predators', :media => 'screen' %>
    <%= stylesheet_link_tag 'curtis_css', :media => 'screen' %>
    <style>
      body {
        margin: 0;
        background: #cecece;
      }
      #schema {
        width: 725px;
        display: inline;
        float: left;
      }
      img {
        width: 100%;
      }
      #details-container {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
      }
      #schema-container {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }
      #details {
        padding-top: 100px;
        width: 1100px;
        overflow: hidden;
        display: inline;
        float: right;
        margin-right: 50px;
      }
      .desc {
        margin-bottom: 10px;
        font-family: helvetica;
        color: #888888;
        background: #aaaaaa;
        line-height: 14px;
        padding-bottom: -2px;
      }
      .standard .css_char .stroke {
        border-color: black;
      }
      .standard .css_char.m .split_horiz_neg {
        border-color: transparent green;
      }
      .standard .css_char.m .split_horiz_pos {
        border-color: transparent black;
      }
      .css_char {
        margin: -10px !important;
      }
      .band {
        margin-bottom: 20px;
      }

      .coles {
        font-family: 'Italianno', cursive;
        font-size: 36px;
        float: left;
        width: 100%;
        margin: -40px auto;
      }
    </style>
  </head>
  <body>
    <div id="schema-container">
      <div id="schema"><img src="/images/Juno_106_schema.jpg"></div>
    </div>
    <div id="details-container">
    <div id="details">
      <div class="coles">
        Coles Bar 2338 N Milwaukee Ave  --- November 10th at 10pm
      </div>
        <div class="desc">AGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVEAGGROLOVE</div>
        <div class="predators band">
          <div id="title" class="curtis tk_proxima_nova size140 standard">
            <a href="http://www.predators1234.com">
              <span class="css_char p">
                P
                <span class="stroke"></span>
                <span class="fill"></span>
              </span>
              <span class="css_char r">
                R
                <span class="inside split_vert"></span>
                <span class="outside split_vert"></span>
                <span class="stroke"></span>
                <span class="fill"></span>
              </span>
              <span class="css_char e">
                E
                <span class="stroke"></span>
                <span class="fill"></span>
              </span>
              <span class="css_char d">
                D
                <span class="stroke"></span>
              </span>
              <span class="css_char a">
                A
                <span class="outside split_vert"></span>
                <span class="inside split_horiz"></span>
                <span class="bar fill"></span>
              </span>
              <span class="css_char t">
                T
                <span class="stem fill"></span>
                <span class="cross fill"></span>
              </span>
              <span class="css_char o">
                O
                <span class="stroke"></span>
              </span>
              <span class="css_char r">
                R
                <span class="inside split_vert"></span>
                <span class="outside split_vert"></span>
                <span class="stroke"></span>
                <span class="fill"></span>
              </span>
              <span class="css_char s">
                S
                <span class="bottom_circle stroke"></span>
                <span class="left neg"></span>
                <span class="top_circle stroke"></span>
                <span class="right neg">
                  <span class="stroke"></span>
                </span>
              </span>
            </div>
          </a>
        </div>
        <div class="desc">SYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTHSYNTH</div>
        <div class="diov band">
          <a href="http://diov.bandcamp.com/">
            <div id="title" class="curtis tk_proxima_nova size140 standard">
              <span class="css_char d">
                D
                <span class="stroke"></span>
              </span>
              <span class="css_char i">
                I
                <span class="fill"></span>
              </span>
              <span class="css_char o">
                O
                <span class="stroke"></span>
              </span>
              <span class="css_char v">
                V
                <span class="outside split_vert"></span>
                <span class="inside split_horiz"></span>
              </span>
            </div>
          </a>
        </div>
        <div class="desc">RAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAERAGGAE</div>
        <div class="MarcusIyah">
          <div id="title" class="curtis tk_proxima_nova size140 standard">
            <span class="css_char m">
              M
              <span class="split_horiz_pos"></span>
              <span class="split_horiz_neg"></span>
            </span>
            <span class="css_char a">
              A
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
              <span class="bar fill"></span>
            </span>
            <span class="css_char r">
              R
              <span class="inside split_vert"></span>
              <span class="outside split_vert"></span>
              <span class="stroke"></span>
              <span class="fill"></span>
            </span>
            <span class="css_char c">
              C
              <span class="stroke"></span>
              <span class="neg"></span>
            </span>
            <span class="css_char u">
              U
              <span class="stroke"></span>
            </span>
            <span class="css_char s">
              S
              <span class="bottom_circle stroke"></span>
              <span class="left neg"></span>
              <span class="top_circle stroke"></span>
              <span class="right neg">
                <span class="stroke"></span>
              </span>
            </span>
            <span class="css_char i">
              I
              <span class="fill"></span>
            </span>
            <span class="css_char y">
              Y
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
              <span class="fill"></span>
            </span>
            <span class="css_char a">
              A
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
              <span class="bar fill"></span>
            </span>
            <span class="css_char h">
              H
              <span class="stroke top"></span>
              <span class="stroke bottom"></span>
            </span>
          </div>
        </div>
        <div class="chuylove">
          <div id="title" class="curtis tk_proxima_nova size140 standard">
            <span class="css_char c">
              C
              <span class="stroke"></span>
              <span class="neg"></span>
            </span>
            <span class="css_char h">
              H
              <span class="stroke top"></span>
              <span class="stroke bottom"></span>
            </span>
            <span class="css_char u">
              U
              <span class="stroke"></span>
            </span>
            <span class="css_char y">
              Y
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
              <span class="fill"></span>
            </span>
            <span class="css_char l">
              L
              <span class="stroke"></span>
            </span>
            <span class="css_char o">
              O
              <span class="stroke"></span>
            </span>
            <span class="css_char v">
              V
              <span class="outside split_vert"></span>
              <span class="inside split_horiz"></span>
            </span>
            <span class="css_char e">
              E
              <span class="stroke"></span>
              <span class="fill"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
