			<%= div_for track do %>
				<%= link_to track.name, track.recording.url, :class => 'audio_link', :id => track.id %>
				<span class="play_button">play</span>
				<span><%= link_to 'frontpage', tracks_frontpage_path(track.id) %></span>				
			<% end %>