<%= render 'player', :audio_url => @tracks_grouped_by_session.values.first[0].recording.url, :visibility => 'visible' %>

<% @tracks_grouped_by_session.each do |session_name, tracks| %>
	<div>
		<%= render 'tracks/track_session', :session_name => session_name, :tracks => tracks %>
	</div>
<% end %>