body
{
	background-color: #A3DCAB;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

div#wrapper
{
	width: 900px;	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#teeth
{
	margin-top: 25px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

div#upperjaw
{
	height: 50%;
	width: 550px;
		margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

div#lowerjaw
{
	height: 50%;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

div.tooth
{
	height: 120px;
	float: left;
	vertical-align: text-bottom;
}

div.root
{
	height: 100px;
	width: 16px;	
	margin-left: 5px;
	margin-right: 5px;
	background-color: #1C3C0E;
}

#upperjaw .root
{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;	
}

#upperjaw .tip
{
	position: relative;
	z-index: -1;
	margin-top: -4px;
	border-style: solid;
	border-color: rgba(55, 132, 19, .9) transparent;
	border-width: 120px 8px 0px;
}

#lowerjaw .root
{
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
}

#lowerjaw .tip
{
	position: relative;
	z-index: -1;
	margin-bottom: -4px;
	border-style: solid;
	border-color: rgba(55, 132, 19, .9) transparent;
	border-width: 0px 8px 80px;
}

div.tip
{

	height: 10px;		
	margin-left: 5px;
	margin-right: 5px;
	background-color: transparent;
}

div#title
{
	height: 140px;
	padding-left: 62px;
	padding-right: 100px;
	text-align: center;
	display: block!important;
	width: 100%;	
}


.standard .css_char .fill { background: rgba(255,50, 50, .8); }
.standard .css_char .neg { background: #A3DCAB; }
.standard .css_char .stroke,
.standard .css_char .neg_stroke,
.standard .css_char .split_vert,
.standard .css_char .split_horiz,
.standard .css_char .split_horiz_pos,
.standard .css_char .split_horiz_neg { border: 0px solid; }
.standard .css_char .stroke { border-color: rgba(255, 50, 50, .8); }
.standard .css_char .split_vert { border-color: rgba(255, 50, 50, .8) transparent; }
.standard .css_char .split_horiz { border-color: #A3DCAB transparent; }
.standard .css_char .split_horiz_pos { border-color: transparent #A3DCAB; }
.standard .css_char .split_horiz_neg { border-color: #A3DCAB; } 


.size140 .css_char.p {
	position: relative;
	z-index: 50;
	margin-right: -25px;
}

.size140 .css_char.r {
	position: relative;
	z-index: 50;
	margin-right: -25px;
}

.size140 .css_char.e {
	position: relative;
	z-index: 50;
	margin-right: -5px;
}

.size140 .css_char.d {
	position: relative;
	z-index: 50;
	margin-right: -25px;
}

.size140 .css_char.a {
	position: relative;
	z-index: 50;
	margin-left: -30px;
	margin-right: -40px;
}

.size140 .css_char.t {
	position: relative;
	z-index: 50;
	margin-right: -40px;
}

.size140 .css_char.o {
	position: relative;
	z-index: 50;
	margin-right: -25px;
}

.size140 .css_char.r {
	position: relative;
	z-index: 51;
	margin-right: -25px;
}

.size140 .css_char.s {
	position: relative;
	z-index: 50;
	margin-right: -25px;
}


.size56 .css_char.p {
	position: relative;
	z-index: 50;
	margin-right: -12px;
}

.size56 .css_char.r {
	position: relative;
	z-index: 50;
	margin-right: -12px;
}

.size56 .css_char.e {
	position: relative;
	z-index: 50;
	margin-right: -3px;
}

.size56 .css_char.d {
	position: relative;
	z-index: 50;
	margin-right: -12px;
}

.size56 .css_char.a {
	position: relative;
	z-index: 50;
	margin-left: -15px;
	margin-right: -20px;
}

.size56 .css_char.t {
	position: relative;
	z-index: 50;
	margin-right: -20px;
}

.size56 .css_char.o {
	position: relative;
	z-index: 50;
	margin-right: -15px;
}

.size56 .css_char.r {
	position: relative;
	z-index: 51;
	margin-right: -12px;
}

.size56 .css_char.s {
	position: relative;
	z-index: 50;
}


#next_show
{
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px; 
	margin-bottom: 0px;
	text-align: center;
	font-weight: normal;
	padding-top: 20px;
	color: #222;
	width: 900px;
}

.label_font
{

	font-family: "Lucida Grande", Tahoma;
	font-size: 16px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #666666;
    margin-top: 10px;
	text-align: center!important;
	letter-spacing: 0.3em;

}

.PageName
{
	float: left;
	text-align: left!important;
}

#page_name
{
	width: 100%;
	height: 20px;
}

#info_pages_title
{
	width: 100%;
	height: 100px;
}

#content
{
	width: 100%;
}


.show
{
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	margin: 5px; 
	color: #000;
}

.show p
{
	display: inline;
}

.shows_head
{
	padding: 5px;
}

#UpcomingShows
{
	background-color: rgba(55, 132, 19, .3);
	padding: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav.footer{
  margin-top: 40px;
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  text-decoration: none;
}

nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
}

.jp-audio
{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
		
}

div.jp-interface
{
	background-color: #FFF!important;
}

.front_page_section
{
	/*height: 20px;*/
}

#pictures
{
	background-color: rgba(255, 50, 50, 1.0);
}

#blogs_wrapper
{
	background-color: #1C3C0E;
	color: white;
}

#player_wrapper
{
	width: 550px;
	margin-left: auto;
	margin-right: auto;	
	position: relative;
}

#pause_control
{
	
}

#play_control
{

}

.eye
{
	height: 108px;
	width: 166px;
	position: absolute;
	background-color: rgba(0, 200, 0, .0);
}

.eyeContainer
{
	height: 54px;
	width: 166px;
	background-color: rgba(200, 0, 0, .0);
	overflow: hidden;
}

.circle
{
	border-color: rgba(255, 255, 0, 0.7);
	border-width: 90px;
	border-radius: 108px 108px;
	-moz-border-radius: 108px 108px;
	-webkit-border-radius: 108px 108px;
	width: 0px;
	height: 0px;
	border-style: solid;
	position: relative;
	z-index: 10;
}

.eyetop
{
	left: -7px;
	top: 0px;
}

.eyebottom
{
	left: -7px;
	top: -126px;	
}

.playGraphic
{
	border-left-color: black;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	left: 65px;
	top: 20px;
	border-right-width: 0px;
	border-top-width: 34px;
	border-bottom-width: 34px;
	border-left-width: 52px;
	z-index: 15;
	position: absolute;
	height: 0px;
	width: 0px;
	border-style: solid;	
}

.stopGraphic
{
	left: 53px;
	top: 22px;
	background-color: black;
	height: 60px;
	width: 60px;
	z-index: 15;
	position: absolute;
}

.leftEye
{
	margin-left: -60px;
}

.rightEye
{
	top: 0px;
	right: 0px;
	margin-right: -60px;
}

