		<span class="css_char p">
			P
			<span class="stroke"></span>
			<span class="fill"></span>
		</span>
		<span class="css_char r">
			R
			<span class="inside split_vert"></span>
			<span class="outside split_vert"></span>
			<span class="stroke"></span>
			<span class="fill"></span>
		</span>
		<span class="css_char e">
			E
			<span class="stroke"></span>
			<span class="fill"></span>
		</span>		
		<span class="css_char d">
			D
			<span class="stroke"></span>
		</span>
		<span class="css_char a">
			A
			<span class="outside split_vert"></span>
			<span class="inside split_horiz"></span>
			<span class="bar fill"></span>
		</span>
		<span class="css_char t">
			T
			<span class="stem fill"></span>
			<span class="cross fill"></span>
		</span>		
		<span class="css_char o">
			O
			<span class="stroke"></span>
		</span>		
		<span class="css_char r">
			R
			<span class="inside split_vert"></span>
			<span class="outside split_vert"></span>
			<span class="stroke"></span>
			<span class="fill"></span>
		</span>		
		<span class="css_char s">
			S
			<span class="bottom_circle stroke"></span>
			<span class="left neg"></span>
			<span class="top_circle stroke"></span>
			<span class="right neg">
				<span class="stroke"></span>
			</span>
		</span>