<div id="EverythingContainer">
	<div class="everythingHeader">---------------------<span class="dashHeading">Checkout these other things</span>-----------------------</div>
	<div class="round everythingContainer">
		<div><%= link_to 'Geronimo!Myspace', myspace_path %></div>
		<div><%= link_to 'Geronimo!Facebook', facebook_path %></div>
	</div>
	<div class="everythingHeader">---------------------<span class="dashHeading">Lineup</span>-----------------------</div>
	<div class="round everythingContainerAlt">
		<div><strong>Kelly:</strong>&nbsp;Vocals, Guitar</div>
		<div><strong>Matt:</strong>&nbsp;Drums</div>
		<div><strong>Ben:</strong>&nbsp;Keyboards</div>
	</div>	
	<div class="everythingHeader">---------------------<span class="dashHeading">Booking</span>-----------------------</div>
		<div class="round everythingContainer">
			<div>Contact us through facebook</div>
		</div>
</div>