<div id="ShowsContainer">
	<div class="showsHeader">---------------------Upcoming Shows-----------------------</div>	
	<div id="UpcomingShows" class="round">

				<%= render @upcoming_shows %>
	</div>
	<div class="showsHeader">---------------------Past Shows---------------------------</div>
	<div id="PastShows" class="round">

				<%= render @past_shows %>

	</div>
</div>