<div id="ShowsContainer">
	<div class="showsHeader">---------------------<span class="dashHeading">Upcoming Shows</span>-----------------------</div>	
	<div id="UpcomingShows" class="round">

				<%= render @upcoming_shows %>
	</div>
	<div class="showsHeader">---------------------<span class="dashHeading">Past Shows</span>---------------------------</div>
	<div id="PastShows" class="round">

				<%= render @past_shows %>

	</div>
</div>