<div>
	<div>Example Band Info</div>
	<div>
		<div><%= link_to 'YourBand!Myspace', myspace_path %></div>
		<div><%= link_to 'YourBande!Facebook', facebook_path %></div>
	</div>
	<div>Lineup</div>
	<div>
		<div>Band Member A:&nbsp;Vocals, Guitar</div>
		<div>Band Member B:&nbsp;Drums</div>
		<div>Band Member C:&nbsp;Keyboards</div>
	</div>	
	<div>Booking</div>
		<div>
			<div>Contact us through facebook</div>
		</div>
</div>