<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Your Band</title>
	<%= stylesheet_link_tag 'your_style_sheet', :media => 'screen' %>	
</head>
<body>
	This is the example band frontpage
	<%= audio_tag(@frontpage_audio_url, :autoplay => true, :controls => true) %>
</body>
</html>