<div id="ShowsContainer">
	<div>Upcoming Shows</div>	
	<div id="UpcomingShows">
		<%= render @upcoming_shows %>
	</div>
	<div>Past Shows</div>
	<div id="PastShows">
		<%= render @past_shows %>
	</div>
</div>